body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

.quiz-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.options-list {
    list-style-type: none;
    padding: 0;
}

.options-list li {
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.options-list li:hover {
    background-color: #efefef;
}

.correct {
    background-color: #04ff0c;
}

.incorrect {
    background-color: #df2739;
}


